@import url(page.em.css);

.mono-page {
    cursor: text;
    transition: 200ms;
    white-space: break-spaces;
}

article.mono-page {
    padding: 2em;
    margin: 2em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.33);
}

.mono-page:focus {
    outline: none;
}

.mono-page .bound-hint {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.mono-page .bound-hint::selection {
    color: transparent;
    /* : transparent; */
}

.mono-page>.selected {
    background-color: #f5f5f5;

}

.mono-page pre {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
}



.mono-page * {
    outline-width: 0;
    /* margin: 0.1px; */
    /* margin: 0;
    line-height: 1.5; */
    /* margin-bottom: 8px; */
}

.mono-page p,
.mono-page blockquote,
.mono-page ul,
.mono-page li,
.mono-page ol {
    margin: 0;
    line-height: 1.5;
    min-height: 1.5em;
}


.mono-page h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0em 0;
}

.mono-page h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0em 0;
}

.mono-page h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0em 0;
}

.mono-page h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0em 0;
}

.mono-page h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0em 0;
}

.mono-page pre {
    font-size: 14px;
    text-align: left;
    position: relative;
    padding: 0;
    box-sizing: border-box;

}

.mono-page pre div.line-highlight {
    padding: 1em;
    pointer-events: none;
}

.mono-page pre div.line-highlight div {
    min-height: 1.5em;
}

.mono-page pre div.line-highlight div.highlight {
    background: rgba(140, 181, 241, 0.5);
}

.mono-page pre code,
.mono-page pre textarea.hljs,
.mono-page pre p {
    font-size: inherit;
    font-family: "Fira code", "Fira Mono", monospace;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-break: keep-all;
    white-space: pre-wrap;
    letter-spacing: inherit;
}

.mono-page pre code {
    background: transparent;
    display: block;
    pointer-events: none;
    z-index: 10000;
    /* position: relative; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.mono-page pre textarea.hljs,
.mono-page pre p {

    top: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    border: 0;
    padding: 1em;
    /* background-color: #EFF0F0; */
    resize: none;
    /* color: rgba(0, 0, 0, 0); */
    overflow: hidden;

    background: none;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}



.mono-page ul,
.mono-page ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.mono-page ul:global(.task-list) li input:first-child {
    margin-right: 0.5em;
}

.mono-page ul:global(.task-list) li p {
    display: inline;
}


.mono-page blockquote {
    border-left: 0.3em solid #ccc;
    padding-left: 0.5em;
}

.mono-page li:global(.list-indent-1) {
    margin-left: 0em;
}

.mono-page li:global(.list-indent-2) {
    margin-left: 1em;
}

.mono-page li:global(.list-indent-3) {
    margin-left: 2em;
}



.mono-page :global(.selection-board) {
    display: flex;
    align-items: center;
}

.mono-page :global(.selection-board) * {
    margin-right: 20px;
}


.mono-page>:global(.block-selected) {
    background-color: antiquewhite;
    transition: 200ms;
}

.mono-page:global(.block-selection-mode) ::selection {
    background-color: transparent;
}

.mono-page:global(.block-selection-mode) {
    caret-color: transparent;
}

.mono-page div.active :empty:after {
    /* padding-left: 1px; */
    content: attr(data-placeholder);
    color: #aaa;
}

/**
* table part
*/
.mono-page table {
    width: 100%;
}

.mono-page table {
    border-spacing: 0;
    padding: 20px 0
}

.mono-page table td {
    text-align: center;

    /* border-bottom: 2px solid #dddddd; */
    /* border-bottom: 1px solid #dddddd; */
    padding: 8px;
}

.mono-page tbody tr td {
    /* margin: auto; */
    /* border-bottom: 2px solid #dddddd; */
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}

.mono-page td:empty::after {
    /* to avoid collapsed, see https://stackoverflow.com/a/66443442/11185460 */
    content: "\00a0";
    visibility: hidden;
}


.mono-page label.label-keyboard-hover .display-math,
.mono-page label .display-math:hover {
    background-color: lightblue;
}




.unselectable {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.display-math {
    /* background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="red" ... /></g></svg>'); */
    /* fill: red; */
    /* background-color: red; */

    /* background-color: yellow; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.space-math {
    color: transparent;
    display: inline-block;
    white-space: nowrap;

    position: absolute;
    line-height: 1.5;
    /* margin-left: 0.25em;
    margin-right: 0.25em; */
}